---
import { getCollection } from 'astro:content';

import ThemeToggle from '~/components/theme-toggle';
import { GithubIcon, NotionIcon, TwitterXIcon } from '~/components/ui/icons';
import Main from '~/layouts/main.astro';
import { getWritingPostInfoList, sortCollectionDateDesc } from '~/libs/mdx';
import { cn } from '~/libs/utils';

const recentWritingList = (await getWritingPostInfoList()).slice(0, 3);

const recentNoteList = (await getCollection('note'))
  .sort(sortCollectionDateDesc)
  .slice(0, 3);
---

<Main>
  <main class="font-serif">
    <div class="flex items-end">
      <h1>김평안 ﹒ bepyan</h1>
      <div class="ml-auto">
        <ThemeToggle client:load />
      </div>
    </div>
    <!-- 소개 -->
    <div class="my-7">
      <p>
        사용자와 <b>부드럽게</b> 상호작용하는 것, 복잡한 것을
        <b>단순하고 간편하게</b> 만드는 것에 열광합니다.
      </p>
      <p>탐구하고 사색하는 것을 좋아하여 틈틈이 발견한 것을 기록하려 합니다.</p>
    </div>
    <!-- 현재 -->
    <div class="my-7">
      <p>
        현재
        <b>
          <a
            class="external-link"
            href="https://www.kakaocorp.com/page/"
            target="_blank">카카오</a
          >
        </b>에서
        <b>
          <a class="external-link" href="https://brunch.co.kr/" target="_blank"
            >브런치</a
          >
        </b>를 개발하고 있습니다.
      </p>
      <div class="mt-1 flex gap-2">
        <a
          class="hover:text-body"
          href="https://github.com/bepyan"
          target="_blank"
        >
          <GithubIcon />
        </a>
        <a
          class="hover:text-body"
          href="https://twitter.com/__pyungan"
          target="_blank"
        >
          <TwitterXIcon />
        </a>
        <a
          class="flex items-end hover:text-body"
          href="https://bepyan.notion.site/Frontend-Developer-69fd245161734c1793e8df78dffe705c?pvs=4"
          target="_blank"
        >
          <NotionIcon />
          <span class="ml-1 text-xs leading-tight">resume</span>
        </a>
      </div>
    </div>
    <!-- 글 목록 -->
    <div class="mt-14 flex gap-4">
      <section class="w-80">
        <h2 class="mb-4 text-second">나의 서재</h2>
        <div class="flex flex-col items-start gap-4">
          {
            recentWritingList.map((post) => (
              <div class="flex flex-col items-start">
                <a
                  class={cn('link', post.isExternal && 'external-link')}
                  href={post.href}
                  target={post.isExternal ? '_blank' : '_self'}
                >
                  {post.title}
                </a>
                <span class="text-xs text-gray-700">{post.description}</span>
              </div>
            ))
          }
          <a href="/writing">...</a>
        </div>
      </section>
      <section class="w-80">
        <h2 class="mb-4 text-second">수첩</h2>
        <div class="flex flex-col items-start hover:text-ellipsis">
          {
            recentNoteList.map((post) => (
              <a class="link block" href={`/post/${post.slug}`}>
                {post.data.title}
              </a>
            ))
          }
          <a href="/note">...</a>
        </div>
      </section>
    </div>
  </main>
</Main>
