---
import { format } from 'date-fns';

import BaseHeader from '~/components/base-header.astro';
import BaseNav from '~/components/base-nav.astro';
import MainLayout from '~/layouts/main-layout.astro';
import { useI18n } from '~/libs/i18n';
import { getPostInfoList, type PostInfo } from '~/libs/mdx';

const { lang, p, t } = useI18n(Astro.url);

const allNotes = await getPostInfoList('note');

const yearList = Object.entries(
  allNotes
    .filter((note) => note.lang === lang)
    .reduce<{ [year: string]: PostInfo[] }>((ac, v) => {
      const year = new Date(v.date).getFullYear();
      if (!ac[year]) ac[year] = [];
      ac[year].push(v);
      return ac;
    }, {}),
).sort(([yearA], [yearB]) => +yearB - +yearA);

const title = t('nav.note');
const description = t('nav.note.desc');
---

<MainLayout seo={{ title, description }} class="font-serif">
  <BaseHeader {title} {description}>
    <BaseNav class="mt-1.5" />
  </BaseHeader>
  <div
    data-animate
    data-animate-speed="slow"
    class="group mt-14 space-y-7 border-l pl-4"
  >
    {
      yearList.map(([year, postList], index) => {
        return (
          <div class="group/year relative">
            <div class="absolute -left-20 -mx-1 select-none rounded-md px-1 transition group-hover/year:bg-selection group-hover/year:text-heading group-hover/year:!opacity-100 group-hover:opacity-40 sm:relative sm:left-0 sm:mb-2">
              <h3 class="font-serif">{year}</h3>
            </div>
            <ul
              data-animate
              data-animate-speed="fast"
              class="flex flex-col items-start gap-2"
            >
              {postList.map((post) => {
                return (
                  <li style={`--start: ${index * 75}ms;`}>
                    <a
                      href={p(post.href)}
                      class="-mx-1 flex items-center rounded-md px-1 transition hover:bg-selection hover:!opacity-100 group-hover:opacity-60"
                    >
                      <span class="text-heading">{post.title}</span>
                      <span class="flex-shrink-0 px-2 text-sm text-second">
                        {format(new Date(post.date), 'MM. dd.')}
                      </span>
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        );
      })
    }
  </div>
</MainLayout>
