---
import { format } from 'date-fns';

import BaseHeader from '~/components/base-header.astro';
import BaseNav from '~/components/base-nav.astro';
import { BxLinkExternal } from '~/components/ui/icons';
import MainLayout from '~/layouts/main-layout.astro';
import { useI18n, useTranslatedPath } from '~/libs/i18n';
import {
  getWritingPostInfoList,
  type PostInfo,
  sortDateDesc,
} from '~/libs/mdx';

const { lang, t } = useI18n(Astro.url);

const posts = await getWritingPostInfoList();

const title = t('nav.writing');
const description = t('nav.writing.desc');

const p = useTranslatedPath(lang);

const yearList = Object.entries(
  posts
    .filter((post) => post.lang === lang)
    .reduce<{ [year: string]: PostInfo[] }>((ac, post) => {
      const year = new Date(post.date).getFullYear();
      if (!ac[year]) ac[year] = [];
      ac[year].push(post);
      return ac;
    }, {}),
).sort((a, b) => +b[0] - +a[0]);
---

<MainLayout seo={{ title, description }} class="font-serif">
  <BaseHeader {title} {description}>
    <BaseNav class="mt-1.5" />
  </BaseHeader>

  <section data-animate class="group my-14">
    {
      yearList.map(([year, postList], index) => {
        return (
          <div class="group/year relative z-0 border-t last-of-type:border-b">
            <h3 class="absolute top-[26px] -z-10 -mx-1.5 -my-0.5 rounded-md px-1.5 py-0.5 text-sm text-second transition group-hover/year:bg-selection group-hover/year:text-heading">
              {year}
            </h3>
            <ul data-animate class="py-4">
              {postList.sort(sortDateDesc).map((post) => {
                return (
                  <li style={`--lv-wait: ${index}`}>
                    <a
                      href={p(post.href)}
                      class="group/item flex transition-opacity hover:!opacity-100 group-hover:opacity-40"
                      target={post.isExternal ? '_blank' : '_self'}
                    >
                      <div class="ml-[15%] flex flex-1 items-start border-t py-2 group-first-of-type/item:border-t-0">
                        <div class="flex items-center gap-0.5 text-heading">
                          <span class="mx-1 rounded-md px-1 transition group-hover/item:bg-selection">
                            {post.title}
                          </span>
                        </div>
                        <div class="ml-auto mt-1 flex flex-shrink-0 items-center gap-1 rounded-md px-1 py-0.5 text-sm text-second transition group-hover/item:bg-selection group-hover/item:text-heading">
                          {post.isExternal && (
                            <BxLinkExternal className="text-disabled" />
                          )}
                          <span>{format(new Date(post.date), 'MM. dd.')}</span>
                        </div>
                      </div>
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        );
      })
    }
  </section>
</MainLayout>
