---
import { SITE } from '~/consts';
import { type SEOProps } from '~/types';

import BaseFonts from './base-fonts.astro';

type Props = SEOProps & {
  lang: string;
};

const { props } = Astro;

const title = props.title;
const description = props.description ?? SITE.description;
const imageURL = props.image ?? SITE.image;

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const jsonLd = {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: title,
  headline: title,
  description,
  image: imageURL,
  url: canonicalURL,
  author: {
    '@type': 'Person',
    name: '김평안',
    url: `${Astro.site}`,
  },
  publisher: {
    '@type': 'Organization',
    name: SITE.title,
    logo: {
      '@type': 'ImageObject',
      url: `${Astro.site}favicon.svg`,
    },
  },
  inLanguage: props.lang,
  ...props.jsonLd,
};
---

{/* Global Metadata */}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

{/* Canonical URL */}
<link rel="canonical" href={canonicalURL} />

{/* Primary Meta Tags */}
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

{/* Open Graph / Facebook */}
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageURL} />

{/* Twitter */}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageURL} />

{/* Sitemap */}
<link rel="sitemap" href="/sitemap.xml" />
<link rel="alternate" type="application/rss+xml" title={SITE.title} href="/rss.xml" />

{/* Fonts */}
<BaseFonts />

{/* JSON-LD */}
<script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
