---
import BaseHeader from '~/components/base-header.astro';
import BaseNav from '~/components/base-nav.astro';
import { BottomDrawer } from '~/components/examples/bottom-drawer';
import { DynamicMail } from '~/components/examples/dynamic-mail';
import { GiscusSection } from '~/components/giscus';
import MainLayout from '~/layouts/main-layout.astro';
import type { Language } from '~/libs/i18n';

const lang: Language = 'ko';

const title = 'bottom drawer';
const description = 'A bottom drawer with framer-motion.';
---

<MainLayout pagefind {lang} seo={{ title, description }}>
  <BaseHeader {title} {description} noI18n>
    <BaseNav class="mt-1.5" lang={lang} highlightNavItem="craft" />
  </BaseHeader>
  <div class="w-full max-w-content">
    <div>
      <div class="flex h-[300px] w-full items-center justify-center">
        <BottomDrawer client:only="react" />
      </div>
      <div class="flex h-[300px] w-full items-center justify-center">
        <DynamicMail client:only="react" />
      </div>
    </div>
  </div>
  <GiscusSection className="mx-auto mt-20" {lang} client:idle />
</MainLayout>
